body {
    background-color: #F5F5F5;
}

.image1 {
    width: 320px;
    height: 280px;
    margin-top: 30px;
    margin-left: 160px; /* Horizontal Space */
}
.btn {
    width: 300px;
    margin-top: 30px;
    margin-left: 160px;
    background-color: #3C6E71;
    font-size: 25px;
    border-radius: 25px;
}

.text-decoration-none {
    margin-top: 100px;
    margin-left: 268px;
    font-size: 18px;
    color: black;
    transition-duration: 0.2s;
}

    .text-decoration-none:hover {
        background-color: #F5F5F5;
        color: #198754;
}

.col-5 {
    margin-top: 170px;
    margin-right: 122px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    transition-duration: 0.2s;
}

.col5 {
    background-color: #F5F5F5;
    color: #198754;


